<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<!--
    SPDX-FileCopyrightText: 2019 Volker Krause <vkrause@kde.org>
    SPDX-License-Identifier: LGPL-2.0-or-later
-->
<kpartgui name="kitinerary-workbench" version="1">
    <MenuBar>
        <Menu name="file">
            <Action name="file_new_extractor" merge="new_merge"/>
            <Action name="file_save_extractor" merge="save_merge"/>
        </Menu>
        <Menu name="extractor" append="before_go">
            <text>&amp;Extractor</text>
            <Action name="extractor_run"/>
            <Separator/>
            <Action name="extractor_reload_repository"/>
        </Menu>
        <Menu name="input">
            <text>&amp;Input</text>
            <Action name="input_from_clipboard"/>
        </Menu>
    </MenuBar>
</kpartgui>
